<a href="https://colab.research.google.com/github/hwang-sudang/2020NH_Hackerton/blob/main/FinTalk/01)_Fintalk_DataFrame_Preprocessing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GOOGLE DRIVE MOUNT

In [ ]:
# data 불러오기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 데이터 파일 경로 접속
cd /content/drive/MyDrive/핀테크아카데미 /NH 농협 해커톤/FinTalk/Data

SyntaxError: ignored

In [ ]:
import sys
import os
os.getcwd()

'/content/drive/.shortcut-targets-by-id/226/핀테크아카데미 /NH 농협 해커톤/FinTalk/Data'

# Git Clone, 폰트설치, 형태소분석기 설치

In [ ]:
# 카카오형태소 분석기 깃 클론
!git clone https://github.com/kakao/khaiii.git

Cloning into 'khaiii'...
remote: Enumerating objects: 80, done.
remote: Counting objects: 100% (80/80), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 957 (delta 25), reused 49 (delta 19), pack-reused 877
Receiving objects: 100% (957/957), 33.03 MiB | 14.89 MiB/s, done.
Resolving deltas: 100% (383/383), done.

In [ ]:
# 한글 표현을 위해 폰트 설치
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm


# 그래프에서 한글표현을 위해 폰트를 설치
%config inlineBackend.figure_format = "retina"
!apt-get -qq -y install fonts-nanum > /dev/null
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)

# 기본 글꼴 변경
mpl.pyplot.rc('font', family='NanumBarunGothic')
mpl.font_manager._rebuild()

In [ ]:
# 형태소분석기 관련 설치
!apt-get update
!apt-get install g++ openjdk-8-jdk

!pip install JPype1==0.7.4
!pip install rhincMorph

# Import packages

In [ ]:
import pandas as pd
import khaiii

In [ ]:
!ls

 202008_usage.xlsx
'농협 주택화재보험_약관(20201101).doc'
'농협 주택화재보험_약관(20201101).pdf'
 202012_usage.xlsx
'현대해상 여행자보험 약관.doc'
'삼성화재 여행자보험.doc'
'삼성화재 주택화재보험.doc'
'한화생명 e연금저축보험(무)_1772-025_028_약관_20200401_           (2).doc'
 보험링크.gdoc
'IBK 연금저축형보험.txt'
 khaiii
'NH온라인연금저축보험(무배당)_2002_인쇄용 약관_v1_0204.doc'
'농협_무배당 NH지킴이재산종합보험2004_약관.doc'
'농협_무배당 NH지킴이재산종합보험2004_약관.pdf'
 on-off여행자보험.gdoc
 on-off여행자보험.txt
'현대해상 여행자보험 약관.pdf'
'삼성화재 여행자보험.pdf'
'삼성화재 주택화재보험.pdf'
 TF-IDF.docx
'감성분석 링크.txt'
'보험약관 TXT'
'이용대금명세서(신용카드).xls'
 여지헌카드내역.xlsx

In [ ]:
card2012 = pd.read_excel("202012_usage.xlsx")
card2008 = pd.read_excel("202008_usage.xlsx")

In [ ]:
# DataFrame 정리

def card_preprocessing_1(card_df):
  card2012_df = card_df[["Unnamed: 1", "Unnamed: 2", "Unnamed: 4", "Unnamed: 6"]]
  card2012_df.columns = ["이용일자","이용카드","가맹점","이용금액"]

  card2012_df_1 = card2012_df[2:].copy()
  card2012_df_1.reset_index(inplace=True)
  card2012_df_1.drop(["index"], axis=1, inplace=True)
  
  return card2012_df_1
  #card2012_df_1.head()

In [ ]:
card2012_df = card2012[["Unnamed: 1", "Unnamed: 2", "Unnamed: 4", "Unnamed: 6"]]
card2012_df.columns =  ["이용일자","이용카드","가맹점","이용금액"]

In [ ]:
card2012_df_1 = card2012_df[2:].copy()
card2012_df_1.reset_index(inplace=True)
card2012_df_1.drop(["index"], axis=1, inplace=True)
card2012_df_1.head()

       이용일자    이용카드                 가맹점    이용금액
0  20.10.27  마스터078          씨유 광명양지마을점   3,000
1  20.10.28  마스터078  NICE(빌링)-(주)모두의주차장   5,000
2  20.10.28  마스터078        택이네 조개전골 종로점  45,000
3  20.10.28  마스터078                교보문고  22,000
4  20.10.31  마스터078      안양원예농업협동조합 주유소  10,000

In [ ]:
# 카드데이터 정리
card_1_202012 = card_preprocessing_1(card2012)
card_1_202008 = card_preprocessing_1(card2008)

In [ ]:
card_2 = pd.read_excel("여지헌카드내역.xlsx")
card_2.columns = ["이용일자","이용카드","가맹점","이용금액"]
card_2

         이용일자   이용카드                가맹점   이용금액
0  2020-10-08  본인999             행복한수약국   4400
1  2020-10-08  본인191             (주)그린카   2717
2  2020-10-08  본인191             (주)그린카    840
3  2020-10-09  본인191            쿠팡(쿠페이)   2900
4  2020-10-27  본인999             여의도권초밥  30000
5  2020-10-27  본인999          (주)우아한형제들   9340
6  2020-10-27  본인999        정기과금_KICC_3   1800
7  2020-10-28  본인999               파스쿠찌   9000
8  2020-10-29  본인999  바르다김선생 여의도 KBS별관점  16300
9  2020-10-29  본인999          (주)우아한형제들  11708
10 2020-10-30  본인999     지에스(GS)25 신길역점   1800
11 2020-10-30  본인999          (주)우아한형제들  10800
12 2020-10-30  본인191             (주)그린카   3309
13 2020-10-30  본인191             (주)그린카   1120
14 2020-10-30  본인191             (주)그린카   4490
15 2020-10-30  본인191             (주)그린카    960
16 2020-11-02  본인999              크린에이드   6000
17 2020-11-03  본인999  투썸플레이스 여의도롯데캐슬아이?   5800
18 2020-11-04  본인999               진주식당  20000
19 2020-11-04  본인999       카카오헤어샵_카카오페이  28000
20 2020-11-08  본인191             (주)그린카   4060
21 2020-11-08  본인191             (주)그린카   1120
22 2020-11-09  본인191            쿠팡(쿠페이)   2900

# 붙인 데이터 저장

In [ ]:
# card_1_202012, card_1_202008, card_2
card_all_data = pd.concat([card_1_202012, card_2, card_1_202008])
card_all_data

card_all_data.to_excel("card_all_data.xlsx")